@page "/manage/contest"
@using Contestor.Proto
@using Contestor.Proto.Data
@inject IContestService contestService
@inject NavigationManager NavigationManager

<h3>Конкурсы - управление</h3>

<AuthorizeView>
    <Authorized>
        <NavLink class="nav-link" href="/manage/contest/create">
            <span class="oi oi-plus" aria-hidden="true">Создать новый конкурс</span>
        </NavLink>

        @if (ContestsList is null)
        {
            <p><em>Загрузка...</em></p>
        }
        else
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Название</th>
                        <th>Описание</th>
                        <th>Схема</th>
                        <th>Статус</th>
                        <th>AutoRegEnabled</th>
                        <th>MaxWorksCount</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var contest in ContestsList)
                    {
                        <tr>
                            <td>@contest.Id</td>
                            <td><a class="nav-link" href="/manage/contest/process/@contest.Id">@contest.Title</a></td>
                            <td>@contest.Description</td>
                            <td>@contest.ProcessName</td>
                            <td>@contest.Status</td>
                            <td>@contest.AutoRegEnabled</td>
                            <td>@contest.MaxWorksCount</td>
                            <td>
                                <a class="nav-link" href="/manage/contest/edit/@contest.Id">Редактировать</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </Authorized>
</AuthorizeView>

@code {
    List<ContestModel> ContestsList;
    protected override async Task OnInitializedAsync()
    {
        var t = await contestService.GetAll(1, 100);
        ContestsList = t.ToList();
    }
}
