@page "/contest/{Id}/sendwork"
@using Contestor.Proto;
@using Contestor.Proto.Data
@using System.Security.Claims
@inject IContestViewService contestService
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider authProvider

<h3>@Contest.Title - прислать работу</h3>

<AuthorizeView>
    <Authorized>
        <form>
            <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                        <label for="Title" class="control-label">Заголовок</label>
                        <input form="Title" class="form-control" @bind="@Work.Title" />
                    </div>
                    <div class="form-group">
                        <label for="Description" class="control-label">Содержание</label>
                        <input form="Description" class="form-control" @bind="@Work.Content" />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <input type="button" class="btn btn-primary" @onclick="@Send" value="Отправить" />
                        <input type="button" class="btn btn-primary" @onclick="@Cancel" value="Отмена" />
                    </div>
                </div>
            </div>
        </form>
    </Authorized>
    <NotAuthorized><span>Войдите на сайт, чтобы прислать работу</span></NotAuthorized>
</AuthorizeView>

@code {
    [Parameter]
    public string Id { get; set; }

    ContestModel Contest = new ContestModel();

    WorkModel Work = new WorkModel();

    protected override async Task OnInitializedAsync()
    {
        Contest = await Task.Run(() => contestService.GetOne(Convert.ToInt64(Id)));
    }

    protected async void Send()
    {
        var authstate = await authProvider.GetAuthenticationStateAsync();
        var user = authstate.User;

        var id = user.FindFirst(ClaimTypes.NameIdentifier);

        Work.ParticipantId = long.Parse(id.Value);
        Work.ContestId = Convert.ToInt64(Id);
        await contestService.SendWork(Work);
        NavigationManager.NavigateTo("/");
    }

    void Cancel()
    {
        NavigationManager.NavigateTo("/");
    }
}
